<hello name="{{ name }}"></hello>


<div *ngIf="getCurrentPrice()">
  <br>
  <div>
    <p>Valor atualizado em {{ this.bitcoinService.lastUpdate | date: 'full' }}</p>
    <input type="button" value="Atualizar" (click)="update()" />
  </div>
  <hr />
  <h3>Data/Hora:</h3>
  <p>{{ this.getCurrentPrice().time.updated }}</p>
  <hr />
  <h3>Serviço de taxa:</h3>
  <h4>{{ this.getCurrentPrice().bpi.USD.description }}</h4>
  <h4>
    <span [innerHTML]="this.getCurrentPrice().bpi.USD.symbol"></span>
    {{ this.getCurrentPrice().bpi.USD.rate }}
  </h4>
  <h4>{{ this.getCurrentPrice().bpi.GBP.description }}</h4>
  <h4>
    <span [innerHTML]="this.getCurrentPrice().bpi.GBP.symbol"></span>
    {{ this.getCurrentPrice().bpi.GBP.rate }}
  </h4>

  <h4>{{ this.getCurrentPrice().bpi.EUR.description }}</h4>
  <h4>
    <span [innerHTML]="this.getCurrentPrice().bpi.EUR.symbol"></span>
    {{ this.getCurrentPrice().bpi.EUR.rate }}
  </h4>
  <hr />
<h4>Tabela:</h4>
  <table border="3">
    <tr>
      <th>Data e Hora</th>
      <th>USD</th>
      <th>GBP</th>
      <th>EUR</th>
    </tr>
    <tr *ngFor="let price of this.bitcoinService.updateList">
      <td>{{ price.timestamp | date: 'full' }}</td>
      <td>{{ price.USD | currency }}</td>
      <td>{{ price.GBP | currency }}</td>
      <td>{{ price.EUR | currency }}</td>
    </tr>
  </table>
</div>
